In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

pd.options.display.max_columns = None
pd.options.display.max_rows = None

In [2]:
# Import Dataset
df = pd.read_excel('drug_consumption.xls')

In [3]:
print(df.shape)
df.head()

(1885, 32)

,ID,Age,Gender,Education,Country,Ethnicity,Nscore,Escore,Oscore,Ascore,Cscore,Impulsive,SS,Alcohol,Amphet,Amyl,Benzos,Caff,Cannabis,Choc,Coke,Crack,Ecstasy,Heroin,Ketamine,Legalh,LSD,Meth,Shrooms,Nicotine,Semer,VSA
0,1,0.49788,0.48246,-0.05921,0.96082,0.12600,0.31287,-0.57545,-0.58331,-0.91699,-0.00665,-0.21712,-1.18084,CL5,CL2,CL0,CL2,CL6,CL0,CL5,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL2,CL0,CL0
1,2,-0.07854,-0.48246,1.98437,0.96082,-0.31685,-0.67825,1.93886,1.43533,0.76096,-0.14277,-0.71126,-0.21575,CL5,CL2,CL2,CL0,CL6,CL4,CL6,CL3,CL0,CL4,CL0,CL2,CL0,CL2,CL3,CL0,CL4,CL0,CL0
2,3,0.49788,-0.48246,-0.05921,0.96082,-0.31685,-0.46725,0.80523,-0.84732,-1.62090,-1.01450,-1.37983,0.40148,CL6,CL0,CL0,CL0,CL6,CL3,CL4,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL1,CL0,CL0,CL0
3,4,-0.95197,0.48246,1.16365,0.96082,-0.31685,-0.14882,-0.80615,-0.01928,0.59042,0.58489,-1.37983,-1.18084,CL4,CL0,CL0,CL3,CL5,CL2,CL4,CL2,CL0,CL0,CL0,CL2,CL0,CL0,CL0,CL0,CL2,CL0,CL0
4,5,0.49788,0.48246,1.98437,0.96082,-0.31685,0.73545,-1.63340,-0.45174,-0.30172,1.30612,-0.21712,-0.21575,CL4,CL1,CL1,CL0,CL6,CL3,CL6,CL0,CL0,CL1,CL0,CL0,CL1,CL0,CL0,CL2,CL2,CL0,CL0

In [4]:
df.describe()

,ID,Age,Gender,Education,Country,Ethnicity,Nscore,Escore,Oscore,Ascore,Cscore,Impulsive,SS
count,1885.000000,1885.00000,1885.000000,1885.000000,1885.000000,1885.000000,1885.000000,1885.000000,1885.000000,1885.000000,1885.000000,1885.000000,1885.000000
mean,945.294960,0.03461,-0.000256,-0.003806,0.355542,-0.309577,0.000047,-0.000163,-0.000534,-0.000245,-0.000386,0.007216,-0.003292
std,545.167641,0.87836,0.482588,0.950078,0.700335,0.166226,0.998106,0.997448,0.996229,0.997440,0.997523,0.954435,0.963701
min,1.000000,-0.95197,-0.482460,-2.435910,-0.570090,-1.107020,-3.464360,-3.273930,-3.273930,-3.464360,-3.464360,-2.555240,-2.078480
25%,474.000000,-0.95197,-0.482460,-0.611130,-0.570090,-0.316850,-0.678250,-0.695090,-0.717270,-0.606330,-0.652530,-0.711260,-0.525930
50%,946.000000,-0.07854,-0.482460,-0.059210,0.960820,-0.316850,0.042570,0.003320,-0.019280,-0.017290,-0.006650,-0.217120,0.079870
75%,1417.000000,0.49788,0.482460,0.454680,0.960820,-0.316850,0.629670,0.637790,0.723300,0.760960,0.584890,0.529750,0.765400
max,1888.000000,2.59171,0.482460,1.984370,0.960820,1.907250,3.273930,3.273930,2.901610,3.464360,3.464360,2.901610,1.921730

In [5]:
# The drugs are the target variables, they can take six different values
# what happended to the Features, how were they transformed?
# Features were centered somewhere around 0 with sd of around 1 for most (?)

In [6]:
# Missing Values?
df.isna().sum()

ID           0
Age          0
Gender       0
Education    0
Country      0
Ethnicity    0
Nscore       0
Escore       0
Oscore       0
Ascore       0
Cscore       0
Impulsive    0
SS           0
Alcohol      0
Amphet       0
Amyl         0
Benzos       0
Caff         0
Cannabis     0
Choc         0
Coke         0
Crack        0
Ecstasy      0
Heroin       0
Ketamine     0
Legalh       0
LSD          0
Meth         0
Shrooms      0
Nicotine     0
Semer        0
VSA          0
dtype: int64

In [7]:
# Renaming of Columns
df = df.rename(columns={'Nscore': 'Neuroticism', 
                        'Escore': 'Extraversion', 
                        'Oscore': 'Openness', 
                        'Ascore': 'Agreeableness', 
                        'Cscore': 'Conscientiousness', 
                        'Impulsive': 'Impulsiveness', 
                        'SS': 'Sensations'})

In [8]:
# ID will not be used in Model
df = df.drop('ID', axis=1)

In [9]:
# change all drugs to category, Age, Gender, Edu, Country, Ehnicity aswell
df.dtypes

Age                  float64
Gender               float64
Education            float64
Country              float64
Ethnicity            float64
Neuroticism          float64
Extraversion         float64
Openness             float64
Agreeableness        float64
Conscientiousness    float64
Impulsiveness        float64
Sensations           float64
Alcohol               object
Amphet                object
Amyl                  object
Benzos                object
Caff                  object
Cannabis              object
Choc                  object
Coke                  object
Crack                 object
Ecstasy               object
Heroin                object
Ketamine              object
Legalh                object
LSD                   object
Meth                  object
Shrooms               object
Nicotine              object
Semer                 object
VSA                   object
dtype: object

In [10]:
df.loc[df.Age == -0.95197, "Age"]= '(18-24)'
df.loc[df.Age == -0.07854, "Age"]= '(25-34)'
df.loc[df.Age == 0.49788, "Age"]= '(35-44)'
df.loc[df.Age == 1.09449, "Age"]= '(45-54)'
df.loc[df.Age == 1.82213, "Age"]= '(55-64)'
df.loc[df.Age == 2.59171, "Age"]= '(65+)'

In [11]:
df.Age = df.Age.astype('category')

In [12]:
df.Gender = ['male' if i == -0.48246 else 'female' for i in df.Gender]
df.Gender = df.Gender.astype('category')

In [13]:
df.loc[df.Country == 0.96082, "Country"]= 'UK'
df.loc[df.Country == -0.57009, "Country"]= 'USA'
df.loc[df.Country == -0.28519, "Country"]= 'Other'
df.loc[df.Country == 0.24923, "Country"]= 'Canada'
df.loc[df.Country == -0.09765, "Country"]= 'Australia'
df.loc[df.Country == 0.21128, "Country"]= 'Ireland'
df.loc[df.Country == -0.46841, "Country"]= 'NewZealand'

In [14]:
df.Country = df.Country.astype('category')

In [15]:
df.loc[df.Ethnicity == -0.31685, "Ethnicity"]= 'White'
df.loc[df.Ethnicity == 0.11440, "Ethnicity"]= 'Other'
df.loc[df.Ethnicity == -1.10702, "Ethnicity"]= 'Black'
df.loc[df.Ethnicity == -0.50212, "Ethnicity"]= 'Asian'
df.loc[df.Ethnicity == -0.22166, "Ethnicity"]= 'Mixed-White/Black'
df.loc[df.Ethnicity == 0.12600, "Ethnicity"]= 'Mixed-White/Asian'
df.loc[df.Ethnicity == 1.90725, "Ethnicity"]= 'Mixed-Black/Asian'

In [16]:
df.Ethnicity = df.Ethnicity.astype('category')

In [17]:
# Asumption: starts school at six years
df.loc[df.Education == -0.61113, "Education"]= 'Undergrad'
df.loc[df.Education == 0.45468, "Education"]= 'Uni'
df.loc[df.Education == 1.16365, "Education"]= 'Masters'
df.loc[df.Education == -0.05921, "Education"]= 'Professional'
df.loc[df.Education == -1.22751, "Education"]= '12'
df.loc[df.Education == -1.73790, "Education"]= '10'
df.loc[df.Education == 1.98437, "Education"]= 'PHD'
df.loc[df.Education == -1.43719, "Education"]= '11'
df.loc[df.Education == -2.43591, "Education"]= 'Under 10'

In [18]:
df.Education = df.Education.astype('category')

In [19]:
# could separate numbers for OCEAN into low-middle-high but won't right now

In [20]:
# People who consume Semeron can't be trusted ('Over-claimers'). Drop them. 
# After that, Sem has no value, drop col
df[(df.Semer != 'CL0')].shape

(8, 31)

In [21]:
df.drop(df[(df.Semer != 'CL0')].index, axis=0, inplace=True)

In [22]:
# Rename Categories for Use 
drugs = ['Alcohol', 'Amphet', 'Amyl', 'Benzos', 'Caff', 'Cannabis', 'Choc', 'Coke', 'Crack', 'Ecstasy', 'Heroin',
'Ketamine', 'Legalh', 'LSD', 'Meth', 'Shrooms', 'Nicotine', 'Semer', 'VSA']

In [23]:
for i in drugs:
    df.loc[df[i] == "CL0", i]= 'Never'
    df.loc[df[i] == "CL1", i]= 'Over Decade ago'
    df.loc[df[i] == "CL2", i]= 'In last Decade'
    df.loc[df[i] == "CL3", i]= 'Last Year'
    df.loc[df[i] == "CL4", i]= 'Last Month'
    df.loc[df[i] == "CL5", i]= 'Last Week'
    df.loc[df[i] == "CL6", i]= 'Last Day'

In [24]:
for i in drugs:
    df[i] = df[i].astype('category')

In [25]:
df.dtypes

Age                  category
Gender               category
Education            category
Country              category
Ethnicity            category
Neuroticism           float64
Extraversion          float64
Openness              float64
Agreeableness         float64
Conscientiousness     float64
Impulsiveness         float64
Sensations            float64
Alcohol              category
Amphet               category
Amyl                 category
Benzos               category
Caff                 category
Cannabis             category
Choc                 category
Coke                 category
Crack                category
Ecstasy              category
Heroin               category
Ketamine             category
Legalh               category
LSD                  category
Meth                 category
Shrooms              category
Nicotine             category
Semer                category
VSA                  category
dtype: object

In [26]:
# save new dataset
df.to_csv('data_new.csv', sep=',', encoding='utf-8', index=False)